body {
   background: $color-bg;
}

.main-hero{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 120px;
   padding-bottom: 88px;
   @include responsive(phone){
      flex-direction: column-reverse;
      text-align: center;
      margin-top: 33px;
   }
   img{
      width: 243px;
      height: 243px;
      box-shadow: -10px 15px 10px $color-bg-section;
      border-radius: 50%;
      @include responsive(phone){
         width: 170px;
         height: 170px;
         // margin-left: 0px;
      }
   }
   h1{
      width: 506px;
      height: 105px;
      @include responsive(phone){
         width: 312px;
         height: 120px;
         margin-bottom: 21px;

      }
   }
   p{
      width: 497px;
      height: 66px;
      margin-bottom: 28px;
      @include responsive(phone){
         width: 328px;
         height: 96px;
      }
   }
   a{
      width: 208px;
      height: 46px;
      padding: 9px 20px;
      font-size: $font-size-2;
      color: $color-bg;
      background-color: $color-primary;
      display: inline-block;
      border-radius: 2px;
   }
}
.section2{
   background-color: $color-bg-section;
   padding: 32px 0;
   @include responsive(phone){
      background-color: $color-bg-section;
   }

   ul{
      display: flex;
      align-items: center;
      margin-left: -17px;
      @include responsive(phone){
         flex-direction: column;
         margin: 0 8px;
      }
   }
   li{
      width: 400px;
      height: 295px;
      gap: 20px;  
      padding: 20px;
      border-radius: 4px;
      background-color: $color-bg;
      margin-left: 17px;
      display: flex;
      @include responsive(phone){
         width: 354px;
         height: 266px;
         margin-left: 17px;
         margin-bottom: 20px;
         margin-right: 17px;
      }
   }
   h2{
      width: 374px;
      height: 84px;
      color: $color-dark;
      margin-bottom: 17px;
      @include responsive(phone){
         width: 327px;
         height: 60px;
      }
   }
   p{
      color: $color-dark;

   }
   hr{
      width: 1px;
      height: 15px;
      border: none;
      background-color: $color-dark;
      margin-left: 25px;

   }
   .link{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 22px;
      @include responsive(phone){
         display: none;
      }
      a{
         color: $color-secondary;
         font-weight: $main-weight;
         font-size: 1.6rem;
      }
   }
   .data{
      display: flex;
      align-items: center;
      // margin-left: -20px;
      // justify-content: flex-start;
      margin-bottom: 1.1rem;
      p{
         margin-left: 2.5rem;

      }
      
   }
}
// section3
.section3{
   padding: 50px 0;
   @include responsive(phone){
      
   }
   .hidden{
      @include responsive(phone){
      display: none;
      }
      
   }
   h3{
      width: 152px;
      height: 60px;
      font-size: 2.2rem;
      font-weight: $main-weight;
      @include responsive(phone){
         width: 124px;
         height: 60px;
         font-size: 1.8rem;
      }
   }
   img{
      width: 246px;
      height: 180px;
      margin-right: 18px;
      @include responsive(phone){
         margin-left: -70px;
         margin-bottom: 17px;
      }
   }
   h2{
      margin-bottom: 16px;
   }
   .data-info{
      display: flex;
      margin-bottom: 17px;
      p{
         margin-left: 26px;
         color: #8695A4;
      }
   }
   .card{
      display: flex;
      @include responsive(phone){
         display: none;
      }
   }
   li{
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      @include responsive(phone){
         flex-direction: column;
        
      }
   }

   a{
      background-color: $color-dark;
      color: $color-bg;
      border-radius: 20px;
      padding: 0 10px;
      font-size: 1.8rem;
   }
   hr{
      width: 858px;
      height: 1px;
      border: none;
      background-color: $color-gray;
      margin-bottom: 31px;
      @include responsive(phone){
        width: 330px;
      }
   }
}
// main => section