
.main-hero{
   width: 100%;
   display: flex;
   justify-content: space-between;
   gap: 50px;
   align-items: center;
   padding-top: 33px;
   padding-bottom: 70px;
   @include responsive(phone){
      flex-direction: column-reverse;
   }
   @include responsive(m-tablet){
      width: 100%;
      flex-direction: column-reverse;
      margin-right: auto;
      margin-left: auto;
      padding-top: 33px;
      padding-bottom: 70px;
      padding: auto;
      text-align: center;
   }
   
   h1{
      width: 100%;
      height: 105px;
      @include responsive(m-tablet){
         width: 100%;
         margin-bottom: -100px;
      }
      @include responsive(tablet){
         width: 100%;
         margin-bottom: 100px;
      }
      
      @include responsive(phone){
         width: 312px;
      }
   }
   a{
      font-weight: $font-weight-500;
      font-size: $font-size-20;
      line-height: $line-height-20;
      color: $color-bg;
      background-color: $color-primary;
      display: inline-block;
      padding: 17px 21px;
      border-radius: 2px;
   }
   p{
      width: 100%;
      height: 66px;
      margin-bottom: 3.8rem;
      @include responsive(m-tablet){
         width: 100%;
         height: 120px;
      }
      @include responsive(b-tablet){
         width: 100%;
         height: 120px;
      }
      @include responsive (phone){
         width: 328px;
         height: 96px;
         margin-bottom: 2.7rem;
      }
   }

   img{
      width: 243px;
      height: 243px;
      border-radius: 50%;
      box-shadow: -5px 10px 1px  $color-bg-section;
   }
}

// main hero end

.posts{
   background-color: $color-bg-section;
   padding: 35px 0;
   .post-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include responsive (tablet){
         justify-content: center;
         align-items: center;
         a{
            display: none;
         }
         h3{
            margin-left: auto;
            margin-right: auto;
         }
     }
     
  }
      h3{
         font-size: $font-size-22;
         line-height: $line-height-22;
         font-weight: $main-weight;
         
      }
      a{
         font-weight: $main-weight;
         font-size: $font-size-16;
         line-height: $line-height-16;
         color: $color-secondary;
      }
   }
   .post-bottom{
      display: flex;
      justify-content: space-between;  
      align-items: center;
      gap: 20px;
      @include responsive (tablet){
         flex-direction: column;
         width: 100%;
     }
   }
   .card{
      background-color: $color-bg;
      padding: 25px;
      border-radius: 4px;
      box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
      h3{
         margin-bottom: 17px;
      }
   }
   .data{
      display: flex;
      margin-bottom: 11px;
      hr{
         width: 1px;
         height: 21px;
         border: none;
         background-color: $color-black;
         margin: 0 25px;
      }
   }

   // section posts end

   .works{
      h2{
         font-size: $font-size-22;
         line-height: $line-height-22;
         font-weight: $main-weight;
         margin-bottom: 1.6rem;
      }
      @include responsive(tablet){
         &__card{           
            padding: 18px;
         }
         img{
            margin-right: auto;
         }
      }
      @include responsive(m-tablet){
         &__card{
            flex-direction: column;
         }
         .hidden{
            display: none;
         }
         img{
            width: 100%;
         }
      }
      .data-info{
         display: flex;
         align-items: center;
         gap: 26px;
         margin-bottom: 1.7rem;
         a{
            background-color: $color-dark;
            color: $color-bg;
            border-radius: 1.6rem;
            padding: 0px 10px ;
            font-weight: $font-weight-900;
            font-size: $font-size-18;
         }
         p{
            color: $color-gray;
            font-size: $font-size-20;
            font-weight: $line-height-20;
         }
      }
      &__card{
         display: flex;
         align-items: center;
         gap: 1.8rem;
         padding: 31px 0;
      }
      hr{
         width: 100%;
         height: 1px;
         border: none;
         // border: 1px solid gray;
         background-color: $color-gray;
      }
   }






