.works__card{
    h3{
        margin-bottom: 16px;
    }
    a{
        color: $color-dark;
    }
    .design-hidden{
        display: none;
    }
    @include responsive(m-tablet){
        .design-hidden{
            display: block;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
}