.design{
    h2{
        width: 506px;
        height: 100px;
        font-size: $font-size-34;
        line-height: $line-height-34;
        margin-bottom: 30px;
        @include responsive(m-tablet){
            width: 100%;
            height: 100%;
        }
    }
    &__data{
        display: flex;
        // align-items: center;
        gap: 17px;
        margin: 0;
        margin-bottom: 23px;
        a{
            width: 62px;
            height: 25px;
            background-color: $color-primary;
            color: $color-bg;
            border-radius: 1.6rem;
            padding: 0px 10px ;
            font-weight: $font-weight-900;
            font-size: $font-size-18;
         }
    }
    p{
        width: 681px;
        height: 44px;
        margin-bottom: 46px;
        color: $color-black;
        @include responsive(m-tablet){
            width: 100%;
            height: 100%;
        }
    }
    h4{
        font-weight: $font-weight-500;
        font-size: $font-size-30;
        line-height: $line-height-20;
    }
    h5{
        font-weight: $font-weight-500;
        font-size: $font-size-26;
        margin-bottom: 20px;
    }
    img{
        margin-bottom: 54px;
        @include responsive(m-tablet){
            width: 100%;
            height: 100%;
        }
    }
}