
$color-primary: #FF6464;
$color-secondary: #00A8CC;
$color-dark: #21243D;

// bg
$color-bg: #ffffff;
$color-bg-section: #EDF7FA;
$color-time-1:#142850;
$color-gray: #E0E0E0;
$color-time-2: $color-primary;

// size
$container: 860px;
$font-size-2: 2rem;
$main-weight: 400;


// fonts
$heebo: "Heebo", "Arial", sans-serif;